@import "src/style/colors.scss";
@import "src/style/helper.scss";

.Button {
  @extend .FlexRow;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 20px 0 0;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  background-color: $col_back_elem;
}

.ButtonIconBox {
  @extend .FlexCenter;
  width: 72px;
  height: 100%;
  border-radius: 30px;
  background: $col_back_elem_selected;
}

.ButtonIcon {
  width: 32px;
  height: 32px;
}

.ButtonText {
  font-size: 16px;
  font-weight: 500;
  color: $col_text_white;
}

.BuildInfo {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: $col_text_hint;
}

.Author {
  color: $col_main;
}
