$col_main_1: #D6A4DE;
$col_main_2: #FFCDBD;
$col_error: #F44336;

$col_back: #121216;
$col_back_surface: #1C1C20;
$col_back_elem: #242428;
$col_back_elem_1: #2E2E32;
$col_back_elem_2: #38383C;

$col_text_white: #FFFFFF;
$col_text_hint: #828282;
$col_text_nickname_tag: #424242;
