$col_main_1: #D6A4DE;
$col_main_2: #FFCDBD;

$col_back: #121216;
$col_back_surface: #1C1C20;
$col_back_elem: #242428;
$col_back_elem_1: #2E2E32;
$col_back_elem_2: #38383C;

$col_text_white: #FFFFFF;
$col_text_hint: #828282;
$col_text_nickname_tag: #424242;

.Page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlexRow {
  display: flex;
  align-items: center;
}

.FlexColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
