@import "src/style/colors.scss";
@import "src/style/helper.scss";

.SelectChat {
  font-size: 20px;
  font-weight: 500;
  color: $col_text_hint;
}

.Container {
  @extend .FlexCenter;

  box-sizing: border-box;
  width: 64%;
  height: 95%;
  margin-left: 20px;
  padding: 30px;
  border-radius: 30px;
  background-color: $col_back_surface;
}

.Wrap {
  @extend .FlexColumn;

  width: 100%;
  height: 100%;
}

.Header {
  @extend .FlexRow;

  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 80px;
  background-color: $col_back_elem;
}

.Photo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 35px;
}

.Info {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.Name {
  @extend .FlexRow;

  font-size: 18px;
  margin-bottom: 6px;
  color: $col_text_white;
}

.NicknameTag {
  margin-left: 2px;
  color: $col_text_nickname_tag;
}

.StatusOnline {
  color: $col_main;
}

.StatusAway {
  color: $col_orange;
}

.StatusSilence {
  color: $col_red;
}

.StatusOffline {
  color: $col_text_hint_message;
}

.Messages {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.Input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  min-height: 60px;
  padding-left: 20px;
  color: $col_text_white;
  border-radius: 20px;
  background-color: $col_back_elem;
}

.Input::placeholder {
  color: $col_text_placeholder;
}

